body{
	font:15px/1.5 Arial, Helvetica, sans-serif;
}


/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/*Header*/

header{
	width: 100%;
	padding-top: 0px;
	background-color: #ffffff;
}

#logo{
	text-align: center;
	color:#321f20;
	border-bottom: solid 1px #d1d1d1;
}

header a{
	color:#321f20;
	text-decoration: none;
	font-size: 16px;
	display: block;
	padding:12px 12px;
	width: 100px;
	text-decoration: none;
	text-align:center;
}
header a:hover{
	color: #ad974f;
}
header .current a{
	border-bottom: solid 3px #ad974f;
}

header ul li{
	float:left;
	display: inline;	

}
header ul{
	margin-left: 25%;
}
/*Showcase*/
#showcase{
	background-image: url("../IMG/origine.jpg") ;
	background-size: cover;
	height: 55%;
	
}
#textAlt{
	color:#e7e7e7;
}
.formdiv{
	box-sizing: border-box;
	margin: auto;
	
}
#fillin{
	background: #231f20;
	color: #eaeaea;

}
.box{
	float: left;  	
}

#location{
	width: 20%;
	text-align: center;
}
#parcel{
	width: 60%;
	text-align: center;
}
#sendorder{
	width:20%;
}

#sendorder button{
	background-color: #ad974f;
	padding:10px 20px 10px 20px;
	text-align: center;
	width: 100%;
	border: solid 1px #231f20;
	color: #eaeaea;
	font-size: 16px;
	margin-top: 45%;
}
#sendorder button:hover{
	background-color: #8e793e;
}
form select{
	width: 92%;
}

form input, select{
    padding: .5em .25em;
    margin: 0 3% 1em;    
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    border: solid 1px #eaeaea;
    background-color: #231f20;
    color: #eaeaea;
}
input:hover,select:hover{
	border: solid 1px #ad974f;
	opacity: 0.7;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
  -webkit-appearance: none; 
  margin: 0; 
}


/*Modal*/
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,0.5);

}
.modal-content{
	background-color: #f4f4f4;
	margin: 10% auto;
	padding:0px;
	width: 70%;
	border-radius: 8px;
	padding-top: 10px;
	padding-left: 15px;
}

.modal-header{
	border-radius: 8px 8px 0 0;

}
.closebtn{
	color:#cccccc;
	font-size: 30px;
	float:right;
	padding:0;
}

.closebtn:hover,.closebtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;

}
.modal-footer{

}
.modal-footer a{
	background-color: #ad974f;
	padding:10px 20px 10px 20px;
	text-align: center;
	width: 40%;
	border-radius: 8px;
	color:#cccccc;
	font-size: 16px;
	margin-left: 25%;
	
	}
.modal-footer a:hover{
	background-color: #8e793e;
}


/*Overview*/
#Overview{
	text-align: center;
}

#Overview h1{
	color:#321f20;
}

#howework h1{
	color:#321f20;
	text-align: center;
}

#howework{
	margin-top: 20px;
	background-image: linear-gradient(to right, #eaeaea, #ad974f, #8e793e);
}

#howework .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#howework .box img{
	width:80px;
	margin: auto;
	text-align: center;
}

footer p{
	text-align: center;
	background-color: #eaeaea;
	color: #231f20;
	padding: 10px 0 10px 0;
}


/*Sign in page*/
#title{
	text-align: center;
}
.formsignin{
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 40px;
}

.formsignin input{
	width: 80%;
}

.formsignin button{
	background-color: #ad974f;
	padding:10px 20px 10px 20px;
	text-align: center;
	width: 40%;
	border: solid 1px #231f20;
	color: #eaeaea;
	font-size: 16px;
	}
button:hover{
	background-color: #8e793e;
}

.anychange ul a{
	color: #eaeaea;
}

.anychange ul a:hover{
	color: #8e793e;
}

/*pick up locations*/

#pickup h1{
	text-align: center;
}

table{
	width: 100%;
	height: 30%;
	text-align: center;
}
table td{
	padding: 15px;
}

td:nth-child(even){
	background: #ccc; 
}
td:nth-child(odd){
	background: #e7e7e7; 
}

#pickup .container{
	width: 100%;
}
td:nth-child(even):hover{
	background: #7a7a7a; 
}

td:nth-child(odd):hover{
	background: #757575; 
}
/*userloggedIn.html page*/
th{
	color:#eaeaea;
	background-color: #ad974f;
	padding: .5em .25em;
    margin: 0 3% 1em;    
    outline: none;
    font-size: 16px;
}