<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SendIT | Payments</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>SendIT</h1>
			</div>
		</div>
	</header>
	<section>
		<div id="parcelDetails">
			
		</div>
		<div class="payments">
			<div class="pay1">
				<img src="">
			</div>
			<div class="pay2">
				<img src="">
			</div>
			<div class="pay3">
				<img src="">
			</div>
			<div class="pay4">
				<img src="">
			</div>
			<div class="pay5">
				<img src="">
			</div>
		</div>
	</section>
<script src="payments.js"></script>
</body>
</html>