<!DOCTYPE html>
<html>
<head>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SendIT | Welcome</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	<link rel="stylesheet" type="text/css" href="../CSS/logdin.css">
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>SendIT</h1>
			</div>
			<div >
				<ul>
					<li class="current"><a href="#">Home</a></li>
					<li><a href="#Overview">Overview</a></li>
					<li><a href="#howework">How we work</a></li>
					<li><a href="#pickup">Pick Up</a></li>
					<li><a href="index.html">Sign out</a>
				</ul>
			</div>
		</div>
	</header>
	<section class="list">
		<div class="container">
			<div>
				<table>
					<tr>
						<th>Parcel</th>
						<th>status</th>
					</tr>
					<tr>
						<td><a href="">Parcel1</a></td>
						<td>delivered</td>
						
					</tr>
					<tr>
						<td><a href="">Parcel2</a></td>
						<td>On</td>
						
					</tr>
					<tr>
						<td><a href="">Parcel3</a></td>
						<td>Status</td>
					</tr>
				</table>
			</div>
		</div>	
	</section>
</body>
</html>